<div class="ks-footer">
    <div class="ks-footer-top">
        <div class="ks-footer-group">
            <h4 class="title">产品与服务</h4>
            <ul class="content">
                <li>
                    <a href="//www.ksyun.com/proservice/cloud_server">云服务器</a>
                </li>
                <li>
                    <a href="//www.ksyun.com/proservice/database">关系型数据库</a>
                </li>
                <li>
                    <a href="//www.ksyun.com/proservice/storage_service">开放型存储</a>
                </li>
                <li>
                    <a href="//www.ksyun.com/proservice/cdn">内容分发网络</a>
                </li>
                <li>
                    <a href="//www.ksyun.com/proservice/loadbalance">负载均衡</a>
                </li>
                <li>
                    <a href="//www.ksyun.com/proservice/cache_server">缓存服务</a>
                </li>
                <li>
                    <a href="//www.ksyun.com/proservice/physical_master">云物理主机</a>
                </li>
            </ul>
        </div>
        <div class="ks-footer-group">
            <h4 class="title">热门问题</h4>
            <ul class="content">
                <li>
                    <a href="//www.ksyun.com/doc/art/id/155">注册认证</a>
                </li>
                <li>
                    <a href="//www.ksyun.com/doc/art/id/159">账户充值</a>
                </li>
                <li>
                    <a href="//www.ksyun.com/doc/art/id/154">产品购买</a>
                </li>
                <li>
                    <a href="//www.ksyun.com/doc/art/id/299">备案流程</a>
                </li>
                <li>
                    <a href="//www.ksyun.com/sys/common_err">客服说明</a>
                </li>
                <li>
                    <a href="//www.ksyun.com/doc/cat/id/576">服务协议</a>
                </li>
            </ul>
        </div>
        <div class="ks-footer-group">
            <h4 class="title">快速入口</h4>
            <ul class="content">
                <li>
                    <a href="//www.ksyun.com/user/login?result=-107&callback=http%3A%2F%2Fwww.ksyun.com%2Fconsole%2Findex">控制台</a>

                </li>
                <li>
                    <a href="//www.ksyun.com/user/login?callback=http%3A%2F%2Fwww.ksyun.com%2Fucenter%2Finfo">个人中心</a>
                </li>
                <li>
                    <a href="//www.ksyun.com/doc/index">帮助中心</a>
                </li>
                <li>
                    <a href="//www.ksyun.com/beian/flowchart">备案</a>
                </li>
            </ul>
        </div>
        <div class="ks-footer-group">
            <h4 class="title">关于我们</h4>
            <ul class="content">
                <li>
                    <a href="//www.ksyun.com/about/aboutus">公司介绍</a>
                </li>
                <li>
                    <a href="//www.ksyun.com/news/information">新闻动态</a>
                </li>
                <li>
                    <a href="//ksyun.hirede.com/CareerSite/EmployerBasic">加入我们</a>
                </li>
                <li>
                    <a href="//www.ksyun.com/about/aboutcooperatec">合作伙伴</a>
                </li>
                <li>
                    <a href="//www.ksyun.com/about/aboutcolink">友情链接</a>
                </li>
            </ul>
        </div>
        <div class="ks-footer-contact">
            <h4 class="phone">
                <div class="ks-icon ks-tel-icon">400-028-9900</div>
            </h4>
            <div class="ks-qr-inner">
                <div class="ks-qr">
                    <span class="ks-qr-link current" onclick="showWechatCode();">关注微信</span>
                    <img src="//fe.ksyun.com/web/wechat.png" alt="微信二维码" class="ks-qr-img" width="150" height="180"></img>
                </div>
                <div class="ks-qr">
                    <span class="ks-qr-link" onclick="showWeiboCode()">关注微博</span>
                    <img src="//fe.ksyun.com/web/weibo.png" alt="微博二维码" class="ks-qr-img" width="150" height="180"></img>
                </div>
            </div>
        </div>
    </div>
    <div class="ks-footer-bottom">
        <div class="ks-copyright">
            ©北京金山云网络技术有限公司 2016 Ksyun All Rights Reserved Kingsoft Corp.&nbsp;&nbsp;&nbsp;&nbsp;京ICP证120829号&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">京ICP备12032080号-2</a> &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="#">京公网安备 11010802020326号</a>
        </div>
    </div>
</div>

<script>
    // matches polyfill
    this.Element && function(ElementPrototype) {
        ElementPrototype.matches = ElementPrototype.matches ||
            ElementPrototype.matchesSelector ||
            ElementPrototype.webkitMatchesSelector ||
            ElementPrototype.msMatchesSelector ||
            function(selector) {
                var node = this,
                    nodes = (node.parentNode || node.document).querySelectorAll(selector),
                    i = -1;
                while (nodes[++i] && nodes[i] != node);
                return !!nodes[i];
            }
    }(Element.prototype);

    // closest polyfill
    this.Element && function(ElementPrototype) {
        ElementPrototype.closest = ElementPrototype.closest ||
            function(selector) {
                var el = this;
                while (el.matches && !el.matches(selector)) el = el.parentNode;
                return el.matches ? el : null;
            }
    }(Element.prototype);

    function ajax(options) {
        var defaultOptions = {
            url: false, //ajax 请求地址
            type: "GET",
            data: false,
            success: false, //数据成功返回后的回调方法
            complete: false //ajax完成后的回调方法
        };
        for (i in defaultOptions) {
            if (options[i] === undefined) {
                options[i] = defaultOptions[i];
            }
        }

        var xhr = new XMLHttpRequest();
        //var xhr = new XDomainRequest();
        var url = options.url;
        var params = formatParams(options.data);
        xhr.open(options.type, url);
        // xhr.withCredentials = true;
        xhr.onreadystatechange = onStateChange;
        if (options.type === 'POST') {
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        }
        xhr.send(params ? params : null);

        function onStateChange() {
            if (xhr.readyState == 4) {
                var result,
                    status = xhr.status;

                if ((status >= 200 && status < 300) || status == 304) {
                    result = xhr.responseText;
                    ajaxSuccess(result, xhr)
                } else {
                    console.log("ERR", xhr.status);
                }
            }
        }

        function ajaxSuccess(data, xhr) {
            var status = 'success';
            data = JSON.parse(data);
            options.success && options.success(data, options, status, xhr);
            ajaxComplete(status)
        }

        function ajaxComplete(status) {
            options.complete && options.complete(status);
        }

        function formatParams(data) {
            var arr = [];
            for (var name in data) {
                arr.push(encodeURIComponent(name) + "=" + encodeURIComponent(data[name]));
            }
            arr.push(("v=" + Math.random()).replace("."));
            return arr.join("&");
        }
    };

    var xajax = function(method, url, data, sucback, complete) { //此方法由于兼容ie时用的方法不一样,导致不同浏览器的结果不一致.使用时请知悉.
        if (typeof XDomainRequest != 'undefined') {
            var xdr = new XDomainRequest();
            xdr.onload = function() {
                sucback(JSON.parse(xdr.responseText));
            };
            // xdr.withCredentials = true;
            xdr.open(method, url, true);
            xdr.send(data);

        } else if (XMLHttpRequest) {
            var options = {
                url: url,
                type: method,
                data: data,
                success: sucback,
                complete: complete
            };
            ajax(options);
        } else {
            console.log(new Error('CORS not supported'));
        }
    };



    function addClass(obj, cls) {
        var obj_class = obj.className; //获取 class 内容.
        var blank = (obj_class != '') ? ' ' : ''; //判断获取到的 class 是否为空, 如果不为空在前面加个'空格'.
        var added = obj_class + blank + cls; //组合原来的 class 和需要添加的 class.
        obj.className = added; //替换原来的 class.
    }

    function removeClass(obj, cls) {
        var obj_class = ' ' + obj.className + ' '; //获取 class 内容, 并在首尾各加一个空格.
        obj_class = obj_class.replace(/(\s+)/gi, ' '); //将多余的空字符替换成一个空格.
        var removed = obj_class.replace(' ' + cls + ' ', ' '); //在原来的 class 替换掉首尾加了空格的 class.
        removed = removed.replace(/(^\s+)|(\s+$)/g, ''); //去掉首尾空格.
        obj.className = removed; //替换原来的 class.
    }

    function hasClass(obj, cls) {
        var obj_class = obj.className; //获取 class 内容.
        var obj_class_lst = obj_class.split(/\s+/); //通过split空字符将cls转换成数组.
        var x = 0;
        for (x in obj_class_lst) {
            if (obj_class_lst[x] == cls) { //循环数组, 判断是否包含cls
                return true;
            }
        }
        return false;
    }

    function showWechatCode() {
        var obj = document.getElementsByClassName('ks-qr-link');
        if (!hasClass(obj[0], "current")) {
            addClass(obj[0], "current");
            removeClass(obj[1], "current");
        }
    }

    function showWeiboCode() {
        var obj = document.getElementsByClassName('ks-qr-link');
        if (!hasClass(obj[1], "current")) {
            addClass(obj[1], "current");
            removeClass(obj[0], "current");
        }
    }


    //var url = location.href;

    var url = location.href;
    var md5Dir = url.split('/')[3];

    xajax("get", "//read.doc.ksyun.com/names/getNames?name=" + md5Dir + "&t=" + ~~new Date(), null, function(data) {

        var title = data.name || 'test';
        var pdflink = data.pdf;
        var homeUrl = data.url || '/index.html';
        var docParentUrl = data.parent_url;
        var docParentName = data.parent_name || 'test2';

        function findParent(node) {
            var parent = node.closest('div.articles');
            if (parent) {
                // parent.closest('li').setAttribute("class", "list-group-item active-level");
                crumbsNodes.push({
                    text: parent.closest('li').firstElementChild.textContent,
                    url: parent.closest('li').firstElementChild.getAttribute('href')
                });
            }
        }

        var panelTitle = document.getElementsByClassName('panel-title');
        var titleTxtNode = document.createTextNode(title);
        panelTitle[0].appendChild(titleTxtNode);

        var parentUrl = document.getElementsByClassName('crumbs-parent');
        var parentTxtNode = document.createTextNode(docParentName);
        parentUrl[0].appendChild(parentTxtNode);
        parentUrl[0].setAttribute('href', docParentUrl);

        var pdfaLink = document.getElementsByClassName('pdflink');
        pdfaLink[0].setAttribute('href', pdflink);

        var crumbs = document.getElementsByClassName('crumbs');
        var indexUrl = document.getElementsByClassName('homeurl');
        if(homeUrl){
            indexUrl[0].setAttribute('href', homeUrl);
        }

        var crumbsNodes = [];
        var activeMenu = document.querySelector('.list-group .active');
        if (activeMenu.matches('li')) {
            activeMenu = activeMenu.firstElementChild;
        }
        crumbsNodes.push({
            text: activeMenu.textContent
        })

        findParent(activeMenu);

        crumbsNodes.push({
            text: title,
            url: homeUrl
        })

        for (var i = crumbsNodes.length - 1; i >= 0; i--) {

            var span = document.createElement('span');
            var gt = document.createTextNode(' > ');
            span.appendChild(gt);

            crumbs[0].appendChild(span);
            crumbs[0].appendChild(crumbsLinkCreate(crumbsNodes[i].url, crumbsNodes[i].text));
        }
    })

    function crumbsLinkCreate(url, text) {
        var a;
        if (url) {
            a = document.createElement('a');
            a.setAttribute('href', url);
        } else {
            a = document.createElement('span');
        }
        var node = document.createTextNode(text);
        a.appendChild(node);

        return a;
    }

    //表格动态增加父级div，表头不换行
    [].slice.call(document.querySelectorAll('table')).forEach(function(el) {
        var wrapper = document.createElement('div');
        wrapper.className = 'table-area';
        el.parentNode.insertBefore(wrapper, el);
        el.parentNode.removeChild(el);
        wrapper.appendChild(el);
    })
</script>