.gb-page-header {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    padding: 25px 0 21px;
}

.logo {
    display: inline-block;
    overflow: hidden;
    width: 124px;
    height: 38px;
    text-indent: -999em;
    background: url(//fe.ksyun.com/web/logo.png) no-repeat;
    vertical-align: -10px;
}
.page-title {
    display: inline-block;
    font-size: 24px;
    margin: 0 0 0 20px;
}